<script setup lang="ts">
import { onMounted, ref } from "vue";
import axios from "axios";
import { v4 as uuidv4 } from "uuid";

interface Room {
  id: number;
  name: string;
  message: string;
}



const clientId = uuidv4();
// let connected = false;
let ws = null;
const rooms = ref<Room[]>([]);
const subscribeRooms = ref<Room[]>([]);

async function getRooms() {
  try {
    const res = await axios.get("http://localhost:9090/rooms");
    rooms.value = res.data;
  } catch (e) {
    console.log(e);
  }
}

async function subcribe(roomId: number) {
  try {
    await axios.post(
      `http://localhost:9090/subscribe?roomId=${roomId}&clientId=${clientId}`
    );
    rooms.value.map((r) => {
      if (r.id === roomId) {
        subscribeRooms.value.push(r);
      }
    });
    rooms.value = rooms.value.filter((r) => r.id != roomId);
  } catch (e) {
    console.log(e);
  }
}

function onOpen(event: any) {
  console.log(event);
}

function onMessage(event: any) {
  const obj = JSON.parse(event.data)
  console.log('content', obj.content, 'room_id', obj.room_id);

  subscribeRooms.value.map((r) => {
    if (r.id === obj.room_id) {
      r.message = obj.content
    }
  });
}

async function subscriptions() {
  try {
    await axios.post(
      `http://localhost:9090/subscriptions?clientId=${clientId}`
    );
  } catch (e) {
    console.log(e);
  }
}

function connect() {
  ws = new WebSocket(`ws://localhost:9090/ws?clientId=${clientId}`);
  ws.onopen = onOpen;
  ws.onmessage = onMessage;
}

onMounted(() => {
  getRooms();
  connect();
});
</script>

<template>
  <div class="q-pa-md">
    <div class="row">
      <div class="col-2">
        <q-card>
          <q-list>
            <q-item v-for="r in rooms" :key="r.id" clickable v-ripple>
              <q-item-section>
                <div class="flex items-center justify-between">
                  <span class="text-bold">{{ r.name }}</span>
                  <span>{{ r.id }}</span>
                  <q-btn
                    color="primary"
                    size="sm"
                    @click="subcribe(r.id)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-rss-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                      />
                    </svg>
                  </q-btn>
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card>
        <q-btn
            color="primary"
            size="sm"
            @click="subscriptions()"
          >
            subscriptions
          </q-btn>
      </div>
      <div class="col-10">
        <div class="row">
          <q-card
            v-for="s in subscribeRooms"
            :key="s.id"
            class="q-mr-sm q-ml-sm"
          >
            <q-card-section>
              <span>{{ s.name }}</span>
            </q-card-section>
            <q-card-section>
              <span>{{ s.id }}</span>
            </q-card-section>
            <q-card-section>
              <span>{{ s.message }}</span>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </div>
</template>
